/* You can add global styles to this file, and also import other style files */
.row {
    --bs-gutter-x: 0px;
}
// .btn-secondary {
//     cursor: not-allowed;
// }
@media screen and (max-width: 960px) {
    .p-datatable-tbody > tr > td {
      display: table-cell !important;
      width: auto !important;
      justify-content: unset !important;
      align-items: unset !important;
    }
  }
  