<div class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between align-items-center">
    <h5>IOT 2024</h5>
  
    <!-- User Avatar and Dropdown Menu -->
    <div class="ml-auto position-relative">
      <!-- User Avatar -->
      <img
        src="https://www.gravatar.com/avatar?d=mp&s=50"
        alt="User Avatar"
        class="rounded-circle user-avatar"
        style="cursor: pointer;"
        (click)="toggleDropdown()"
      />
  
      <!-- Dropdown Menu -->
      <ul *ngIf="isDropdownOpen" class="dropdown-menu-custom">
        <li class="dropdown-item text-center">
          <strong> {{user?.first_name}} {{ user?.last_name }}</strong><br />
          <small>{{ user?.email }}</small>
          <br>
          <small>{{ user?.mobile }}</small>
        </li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item text-danger" style="text-align: center" (click)="logout()">Logout</li>
      </ul>
    </div>
  </div>
  